body{
  color: #000;
  font-family: 'Open Sans', sans-serif;
  background-image:url("../src/background.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 16px;
  overflow-x: hidden;
}

#dotSlider {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .dot {
    display: block;
    height: 15px;
    width: 15px;
    background-color: #95a58f;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #476C9B; /* Active dot color */
    z-index: 2;  
  }

  b{
    font-weight: 700;
  }

  .interactive-plot{
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
    border-color: none;
    max-width: 80%;
    height: 70vh;
  }

  @media screen and (max-width: 768px) {
    .interactive-plot{
      max-width: 100%;
      height: 50vh;
    }
    
  }

  .content_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 200px  ;

  }

  .content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

  .content .item{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .content .item h2{
    font-size: 18px;
    font-weight: 700;
    }
  .content .item p{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    width: auto;
  }

  .content img{
    max-width: 70%;
  }

  @media screen and (max-width: 1500px) {
    .full-image{
      max-width: 100% !important;
      width: 100vw !important;
    }
    
  }



  .content .item .quote{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    font-style: italic;
    width: 60%;
    border: #476C9B;
    border-style: solid;
    border-width: 0 0 0 5px;
    padding-left: 10px;
  } 

  a.source{
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    width: auto;
    color: #101419;
    text-decoration: none;
    
  }

  ul.features{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
    width: 100%;
  }

  ul.features li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    margin-left: calc(50% - 30vw);
    gap: 10px;
    border-radius: 20px;
    background-color: #d4f3ff;
    padding: 10px;
  }

  @media screen and (max-width: 1500px) {
    ul.features li{
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 80vw;
      margin-left: calc(50% - 40vw);
    }
    
  }

  @media screen and (max-width: 768px) {
    ul.features li{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80vw;
      margin-left: calc(50% - 40vw);
    }
    
  }

  ul.features li div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 20px;
    padding: 10px;

  }

  ul.features img{
    width: 300px;
    height: 300px;
  }

  .header {
    height: 100vh;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-bottom: 500px;
  }

  .heading-image {
    background-image: url("../src/adamant-1.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    top: 0;
    height: 100%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

  }

  .heading-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: left;
  }
  .heading-text h1{
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
  }

  
  .arrow,
  .arrow:before{
    position: absolute;
    left: 50%;
  }
  .arrow{
    width: 40px;
    height: 40px;
    top: 70%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
  }
  
  .arrow:before{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
  }
  @keyframes arrow{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: translate(-10px, -10px);
    }
   
  }

  .cluster_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }
  
  .cluster{
    display: flex;
    text-align: center !important;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    background-color: #468C98;
  }

  @media screen and (max-width: 1100px) {
    .cluster{
      width: 75%;
    }
    
  }

  @media screen and (max-width: 768px) {
    .cluster{
      width: 100%;
    }
    
  }

  #cluster0{
    background-color: steelblue;
  }
  #cluster1{
    background-color: darkorange;
  }
  #cluster2{
    background-color: forestgreen;
  }
  #cluster3{
    background-color: firebrick;
  }
  #cluster4{
    background-color: mediumpurple;
  }


  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    background-image: url("../src/background.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  div.authors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }