data/*
.ipynb_checkpoints/
players_performance.ipynb
visualizations.ipynb
wikipedia_graph_viz.ipynb
wikipedia_graph_viz graph-tool.ipynb
*.pkl
*.pyc
/book/_build/*
/data/plaintext_articles/
/data/wikispeedia_paths-and-graph/

!data/*.pkl
!data/p3_extra_data/*.csv
