.ipynb_checkpoints/
players_performance.ipynb
visualizations.ipynb
wikipedia_graph_viz.ipynb
wikipedia_graph_viz graph-tool.ipynb
*.pkl
*.pyc
/book/_build/*
/data/plaintext_articles/*
/data/wikispeedia_paths-and-graph/*
/data/wikispeedia_articles_html/*
data/wikispeedia_articles_plaintext.tar.gz

!data/*.pkl
!data/p3_extra_data/*.csv
!data/p3_extra_data/unfinished_path_metrics.pkl
!data/p3_extra_data/finished_path_metrics.pkl

*.sbatch
/p3_code/_build
p3_code/res/logo_no_bg.pptx
p3_code/res/background.pptx

# VERY IMPORTANT: ALWAYS IGNORE THIS FILE
bad_reviews_on_our_code.txt
